:root {
    --background: #F7F9F9;
    --font: black;
    --altBack: #696D7D;
    --altFont: #F7F9F9;
    --backHighlight: #FDB833;
}
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
header {
    height: 100px;
    background-color: var(--background);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 3px 0px 6px 6px;
}
header > picture {
    height: auto;
    width: 85px;
    background-image: url(../img/selfieBgLight5.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
header > div > div > div > h1 {
    font-size: 21px;
}
header > div > div > div > p {
    font-size: 12px;
}
header > div > div > h2 {
    font-size: 16px;
}
header > div > nav > a, header > div > nav > div {
    height: 30px;
    width: 30px;
    transition: 0.8s ease-in-out;   
}
header > div > nav > a:hover , header > div > nav > div:hover {
    transform: scale(1.2);
    transition: 0.5s ease;
    z-index: 100;   
}
.toast-container {
    margin-top: 100px;
    z-index: 100px;
}
.dropdown-toggle::after {
    content: none;
}
main {
    background-image: url(../img/wordcloud30.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.card {
    background-color: var(--background);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    font-weight: bolder;  
    text-decoration: none;
    color:var(--font);
    transition: 0.8s ease-in-out; 
}
.card:hover {
    background-color: var(--backHighlight);
    color: var(--font);
    text-decoration: none;
    transform: scale(1.1);
    transition: 0.5s ease;
}
.card::after {
    text-decoration: none;
}
.card-title {
    align-self: center;
} 
.carousel {
    overflow: hidden;
    width: min-content;
    order: 1; 
}
.carousel-control-prev{
    order: 0;
}
.carousel-control-next{
    order: 2;
}

.aCliqueAqui {
    text-decoration: none;
    color: #0A58CA;
}

.aCliqueAqui:hover {
    text-decoration: underline;
}

.outrosEmpregos {
    width: 300px;
}

.downloadButton {
    height: 60px; 
    width: 60px; 
    background-image: url(../img/download-svgrepo-com.svg); 
    background-repeat: no-repeat; 
    background-size: cover; 
    position: absolute; 
    margin-top: 18%; 
    margin-left: 40%;
    transition: 0.5s ease-in-out;
}

.downloadButton:hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}


footer {
    color: var(--altFont);
    background-color: var(--altBack);
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.19) 10px 20px 10px 20px, rgba(0, 0, 0, 0.23) 6px 6px 6px 6px;
}
footer > p , .pdf {
    font-size: 10px;
}

@media screen and (max-width: 410px) { 
    main {
        flex-wrap: wrap;
    } 
    .carousel {
        order: 1;
        padding: 0px 100px 0px 70px;
        margin: 0px 70px 0px 70px;
        gap: 70px;
        
    }
    .carousel-control-prev{
        order: 3;
    }
    .carousel-control-next{
        order: 3;
    }
}

@media screen and (max-width: 445px) {
    .outrosEmpregos {
        width: 170px;
    }
}


@media screen and (min-width: 330px) and (max-width: 388px) {
    .carouselSmallBetweenA,
    .carouselSmallBetweenB {
            width: 25px;
            height: 50px;
    }
    
    .carouselSmallBetweenA {
        order: 0;
    }
    
    .carouselSmallBetweenB {
        order: 2;
    }
}

@media screen and (min-width: 389px) and (max-width: 410px) {

    .carouselSmallBetweenA,
    .carouselSmallBetweenB {
        width: 35px;
        height: 50px;
    }

    .carouselSmallBetweenA {
        order: 0;
    }

    .carouselSmallBetweenB {
        order: 2;
    }
}



@media screen and (min-width: 620px) {
    header {
        height: 130px;
    }
    header > picture {
        width: 100px;
    }
    header > div > div > div > h1 {
        font-size: 27px;
    }
    header > div > div > div > p {
        font-size: 13px;
    }
    header > div > div > h2 {
        font-size: 19px;
    }
    header > div > nav > a, header > div > nav > div {
        height: 50px;
        width: 50px;   
    }
    .toast-container {
        margin-top: 130px;
    }
}

.ribbon-wrapper {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
}

.ribbon {
    font: bold 8px Sans-Serif;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
    transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.ribbon:before,
.ribbon:after {
    content: "";
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px;
}

.ribbon:before {
    left: 0;
}

.ribbon:after {
    right: 0;
}

.red {
    background-color: #ea181e;
    color: #EAE818;
}

.red:before,
.red:after {
    border-top: 3px solid #b90005;
}

.green {
    background-color: #8dc735;
    color: #fcfff3;
}

.green:before,
.green:after {
    border-top: 3px solid #6e8900;
}

.yellow {
    background-color: #FCD000;
    color: #1a1500;
}

.yellow:before,
.yellow:after {
    border-top: 3px solid #917a09;
}

.w3tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.w3tooltip .w3tooltiptext {
    margin-top: 10px;
    visibility: hidden;
    width: 120px;
    background-color: rgb(154, 153, 153);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.w3tooltip:hover .w3tooltiptext {
    visibility: visible;
    transition: 1s;
    transition-timing-function: ease-in;
}

#txtFooter {
    font-size: 2.1vmin;
    font-weight: bold;
    transition: 1s ease-in-out;
}

.modal-footer {
    height: 60px;
}